.slider{
	width: 80%;
	height:350px;
	text-align: center;
	margin: auto;
	border: 1px solid green;
}
@keyframes slide{
	0%{
		left:0;
	}
	10%{
		left:0;
	}
	20%{
		left:-100%;
	}
	30%{
		left:-100%;
	}
	40%{
		left:-200%;
	}
	50%{
		left:-200%;
	}
	60%{
		left:-300%;
	}
	70%{
		left:-300%;
	}
	80%{
		left:-400%;
	}
	90%{
		left:-400%;
	}
	100%{
		left:0;
	}
}
.slider{
	overflow: hidden;
	position: static;
	
}
.slider figure img{
	float: left;
	width:	19.9%;
}
.slider figure{
	z-index: -99;
	position:relative;
	width:500%;
	animation: slide 10s infinite;
}